{% for post in site.posts %}

{% if post.external %}
    <div class="post-short">
      <h4>
        <a href="{{site.noita.external}}{{post.link}}" target="_blank">{{ post.title }} </a>
        <small>{{ post.date | date: '%F' }}</small><img src="{{site.url}}/assets/2014/04/21/external-link.gif">
      </h4>
      <p>{{ post.description }}</p>
    </div>

  {% else %}
    <div class="post-short">
      <h4>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <small>{{ post.date | date: '%F' }}</small>
      </h4>
      <p>{{ post.description }}</p>
    </div>

  {% endif %}

{% endfor %}
